<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PShochu.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PShochu.Tests.Properties.Settings>
            <setting name="PsakeModulePath" serializeAs="String">
                <value>..\..\..\tools\psake\psake.psm1</value>
            </setting>
        </PShochu.Tests.Properties.Settings>
    </applicationSettings>
</configuration>